body {
    font-family: 'Dancing Script', cursive;
    color: black;
}

button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 30pt;
    padding: 10px 20px;
    display: flex;
    position: relative;
    background-color: rgba(100, 148, 237, 0.872);
    margin-top: 20px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-weight: bold;
}

.mixed-color {
    background: linear-gradient(to right, yellow, orange);
}

@keyframes example {
    from {
        box-shadow: 5px 5px 50px rgb(0, 38, 255);
    }
    to {
        box-shadow: 5px 5px 50px rgb(0, 255, 21);
    }
}